---
layout: base
pagination:
  data: collections.sections
  size: 1
  alias: sectionData
permalink: "/{{ sectionData.section }}/"
---
{% assign title = sectionData.section | capitalize %}
{% assign count = sectionData.items.size %}
{% capture description %}
  This collection consists of {{ count }} entries.
{% endcapture %}
{% render 'header', title: title, description: description %}
<section>
  <div class="card-container">
    <div class="cards">
      {% for item in sectionData.items %}
        <div class="card">
          <div class="terminal-card">
            <header>{{ item.data.title }}</header>
            <div>
              {{ item.content | truncate: 160 }}
            </div>
            <footer>
              <a class="btn btn-primary btn-block" href="{{ item.url }}"> Read Entry → </a>
            </footer>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<hr>

<style>
  .card-container {
    display: flex;
    justify-content: center;
  }

  .cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
  }

  /* Style the cards */
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .terminal-card {
    display: flex;
    flex-direction: column; /* stack header, content, and button vertically */
    height: 100%; /* make it stretch fully inside .card */
  }

  .terminal-card footer {
    margin-top: auto;
  }
</style>
