<!-- HEADER -->
<header>
  <h1>{{ title }}</h1>
  <p>
    {{ description }}
  </p>
  {% if date %}
    <p>
      <strong>Published:</strong>
      <time datetime="{{ date | date: "%Y-%m-%d %H:%M" }}">{{ date | date: '%a, %b %d, %Y' }}</time>
    </p>
  {% endif %}
  {% if lastmod %}
    <p>
      <strong>Last Modified:</strong>
      <time datetime="{{ modified | date: "%Y-%m-%d" }}">{{ modified | date: '%a, %b %d, %Y' }}</time>
    </p>
  {% endif %}
</header>
<hr>
<!-- END HEADER -->
