<ul class="ps-3 mt-2 space-y-1 list-disc list-inside">
  {% for tag in tree %}
    {% if tag.name == 'idx' or tag.name == 'meta_idx' %}
      {% break %}
    {% else %}
      {% assign tagName = tag.name | remove: '_' %}
      {% capture tagPath %}{{ path | append: tagName }}{% endcapture %}
      <li>
        <a href="/{{ tagPath }}/" class="font-medium text-fg-brand hover:underline">
          {{ tagName }}
        </a>

        {% capture childPath %}{{ path }}{{ tagName | append: '/' }}{% endcapture %}

        {% if tag.children.size > 0 %}
          {% render 'tag-tree.liquid', tree: tag.children, path: childPath %}
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
