<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ title }}
      |
      {{ site.title }}
    </title>
    <meta
      name="description"
      content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}"
    >
    <meta name="author" content="{{ site.author.name }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <link rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicons/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/index.css">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>
  </head>
  <body class="bg-neutral">
    <!-- Drawer container -->
    <div class="drawer lg:drawer-open">
      <input id="site-drawer" type="checkbox" class="drawer-toggle">

      <!-- Main page content -->
      <div class="drawer-content flex flex-col min-h-screen">
        <!-- Navbar -->
        {% render 'nav', title: site.title %}
        <!-- Navbar -->

        <!-- Page body -->
        <main
          data-pagefind-body
          id="top"
          class="bg-base-200 text-base-content prose prose-sm md:prose-base w-full max-w-4xl mx-auto lg:mt-5 lg:mb-18"
        >
          {% render 'hero', title: title, description: description, date: date, modified: modified %}
          <div class="p-6">
            {{ content }}
          </div>
        </main>
        <!-- Footer -->
        {% render 'footer', author: site.author.name, eleventy: eleventy.generator %}
      </div>

      <!-- Sidebar -->
      <div class="drawer-side">
        <!-- Overlay (click to close on mobile) -->
        <label for="site-drawer" class="drawer-overlay"></label>
        <aside class="w-80 bg-secondary text-secondary-content min-h-full p-4">
          {% assign navTree = collections.all | eleventyNavigation %}
          {% render 'sidebar', navTree: navTree, page: page %}
        </aside>
      </div>
    </div>

    <div class="fab">
      <a href="#top" class="btn btn-lg btn-circle btn-secondary">^</a>
    </div>

    <dialog id="search_modal" class="modal modal-bottom sm:modal-middle">
      <div class="modal-box">
        <div id="search"></div>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>Close</button>
      </form>
    </dialog>

    <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: '#search', showImages: false, resetStyles: false });
      });
    </script>
    <script>
      document.addEventListener('keydown', (e) => {
        if ((e.metaKey || e.ctrlKey) && e.key === 'k') {
          e.preventDefault();
          search_modal.showModal();
          setTimeout(() => {
            document.querySelector('#search input')?.focus();
          }, 50);
        }
      });
    </script>
  </body>
</html>
