---
layout: base
---
{% render 'header', title: site.title, description: site.description %}
{{ content }}
<hr>
{% for section in collections.homepageSections %}
  <!-- LATEST ENTRIES IN {{ section.section | upcase }} -->
  <section>
    <p class="terminal-prompt">list {{ section.section }}</p>
    <div class="card-container">
      <div class="cards">
        {% for item in section.items %}
          <div class="card">
            <div class="terminal-card">
              <header>{{ item.data.title }}</header>
              <div>
                {{ item.content | truncate: 160 }}
              </div>
              <footer>
                <a class="btn btn-primary btn-block" href="{{ item.url }}"> Read Entry → </a>
              </footer>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <a class="btn btn-primary btn-block" style="margin-top: 1rem;" href="/{{ section.section }}/">
      View all {{ section.section }} →
    </a>
  </section>
{% endfor %}

<style>
  .card-container {
    display: flex;
    justify-content: center;
  }

  .cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
  }

  /* Style the cards */
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .terminal-card {
    display: flex;
    flex-direction: column; /* stack header, content, and button vertically */
    height: 100%; /* make it stretch fully inside .card */
  }

  .terminal-card footer {
    margin-top: auto;
  }
</style>
