---
layout: base
---
{{ content }}

{% assign navTree = collections.all | eleventyNavigation %}
{% assign current = null %}

{% for item in navTree %}
  {% if item.key == eleventyNavigation.key %}
    {% assign current = item %}
  {% endif %}
{% endfor %}

{% if current and current.children and current.children.size > 0 %}
  {% assign leaves = '' | split: '' %}
  {% assign branches = '' | split: '' %}

  {% for child in current.children %}
    {% if child.children and child.children.size > 0 %}
      {% assign branches = branches | push: child %}
    {% else %}
      {% assign leaves = leaves | push: child %}
    {% endif %}
  {% endfor %}

  {% if leaves.size > 0 %}
    <h2>Entries</h2>
    <div class="not-prose">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for entry in leaves %}
          {% assign banner = entry.data.banner %}

          <div class="card bg-secondary text-secondary-content w-full{% if banner %} image-full{% endif %}">
            {% if banner %}
              <figure>
                <img src="/{{ banner }}" alt="{{ entry.title }}">
              </figure>
            {% endif %}

            <div class="card-body">
              <h2 class="card-title">{{ entry.title }}</h2>
              <p>{{ entry.data.description }}</p>

              <div class="card-actions justify-end">
                <a href="{{ entry.url }}" class="btn btn-soft btn-secondary"> Read More </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if branches.size > 0 %}
    <h2>Sections</h2>
    <ul class="space-y-2">
      {% for entry in branches %}
        <li>
          <a href="{{ entry.url }}" class="link link-secondary">
            {{ entry.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}

{% if backlinks and backlinks.length > 0 %}
  <div class="flex w-full flex-col">
    <div class="divider divider-primary"></div>
  </div>

  <h2>Linking here</h2>
  <ul class="space-y-1">
    {% for link in backlinks %}
      <li>
        <a href="{{ link.url }}" class="link">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
