---
layout: base
---
{{ content }}

{% assign navTree = collections.all | eleventyNavigation %}
{% assign current = navTree | navFind: eleventyNavigation.key %}

{% if current and current.children and current.children.size > 0 %}
  {% assign leaves = '' | split: '' %}
  {% assign branches = '' | split: '' %}

  {% for child in current.children %}
    {% if child.children and child.children.size > 0 %}
      {% assign branches = branches | push: child %}
    {% else %}
      {% assign leaves = leaves | push: child %}
    {% endif %}
  {% endfor %}

  {% if leaves.size > 0 %}
    <h2>Entries</h2>
    <div class="not-prose">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for entry in leaves %}
          {% if entry.data.banner or entry.data.cover %}
            {% if entry.data.banner %}
              {% assign img = entry.data.banner %}
            {% elsif entry.data.cover %}
              {% assign img = entry.data.cover %}
            {% endif %}
            <div class="card bg-base-100 image-full w-full shadow-sm">
              <figure>
                {% image img, title %}
              </figure>
              <div class="card-body">
                <h2 class="card-title">{{ entry.title }}</h2>
                <p>
                  {{ entry.data.description }}
                </p>
                <div class="card-actions justify-end">
                  <a href="{{ entry.url }}" class="btn btn-soft btn-secondary"> Read More </a>
                </div>
              </div>
            </div>
          {% else %}
            <div class="card bg-secondary text-secondary-content w-full">
              <div class="card-body">
                <h2 class="card-title">{{ entry.title }}</h2>
                <p>
                  {{ entry.data.description }}
                </p>
                <div class="card-actions justify-end">
                  <a href="{{ entry.url }}" class="btn btn-soft btn-secondary"> Read More </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if branches.size > 0 %}
    <h2>Sections</h2>
    <ul>
      {% for entry in branches %}
        <li>
          <a href="{{ entry.url }}">
            {{ entry.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}
{% if backlinks.length > 0 %}
  <div class="flex w-full flex-col">
    <div class="divider divider-primary"></div>
  </div>

  <h2>Backlinks</h2>
  <ul>
    {% for link in backlinks %}
      <li>
        <a href="{{ link.url }}">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
