---
layout: base
---
<main
  data-pagefind-body
  id="top"
  class="flex-1 prose prose-sm md:prose-base w-full max-w-4xl mx-auto xl:my-8"
>
  <!-- Hero Section -->
  {% render 'hero',
    title: title,
    description: description,
    date: date,
    modified: modified,
    banner: banner,
    cover: cover,
    page: page,
    collections: collections
  %}
  <div class="bg-base-100 text-base-content p-6">
    <!-- Page Content -->
    {{ content }}
    <div class="flex w-full flex-col">
      <div class="divider divider-primary"></div>
    </div>

    <!-- Breadcrumbs -->
    {% assign prefix = page.fileSlug | append: '.' %}
    {% assign crumbs = collections.all
      | where_exp: 'item', 'item.fileSlug != page.fileSlug and item.fileSlug contains prefix'
    %}

    {% if crumbs.size == 0 %}
      {% render 'breadcrumbs', page: page, collections: collections %}
    {% endif %}

    <!-- Backlinks -->
    {% if backlinks.length > 0 %}
      <h2>Backlinks</h2>
      <ul>
        {% for link in backlinks %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <!-- Children -->
  {% assign navTree = collections.all | eleventyNavigation %}
  {% assign current = navTree | navFind: eleventyNavigation.key %}
  {% if current.children.size > 0 %}
    <div class="not-prose w-full max-w-7xl mx-auto mb-8 p-6" data-pagefind-ignore>
      <h2 class="text-3xl font-bold m-5">Children</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
        {% for entry in current.children %}
          {% assign img = entry.data.cover | default: entry.data.banner %}
          {% if img %}
            <div class="card bg-base-100 image-full w-full shadow-sm">
              <figure>
                {% image img, entry.title %}
              </figure>
              <div class="card-body">
                <h2 class="card-title">{{ entry.title }}</h2>
                <p>{{ entry.data.description }}</p>
                <div class="card-actions justify-end">
                  <a href="{{ entry.url }}" class="btn btn-soft btn-secondary">Read More</a>
                </div>
              </div>
            </div>
          {% else %}
            <div class="card bg-secondary text-secondary-content w-full">
              <div class="card-body">
                <h2 class="card-title">{{ entry.title }}</h2>
                <p>{{ entry.data.description }}</p>
                <div class="card-actions justify-end">
                  <a href="{{ entry.url }}" class="btn btn-soft btn-secondary">Read More</a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</main>
