---
layout: base
---
{{ content }}

{% assign fileName = page.filePathStem | split: '/' | last %}
{% if fileName == 'index' and permalink != '/' %}
  {% assign navPages = collections.all | eleventyNavigation: title %}
  {% assign topLeafPages = '' | split: '' %}
  {% assign nestedLeafPages = '' | split: '' %}

  {% for entry in navPages %}
    {% assign hasGrandchildren = false %}
    {% if entry.children %}
      {% for child in entry.children %}
        {% if child.children %}
          {% assign hasGrandchildren = true %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if entry.children == empty and hasGrandchildren == false %}
      {% assign topLeafPages = topLeafPages | push: entry %}
    {% else %}
      {% assign nestedLeafPages = nestedLeafPages | push: entry %}
    {% endif %}
  {% endfor %}

  <h2>Entries</h2>
  <div class="not-prose">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      {% for entry in topLeafPages sort: date reversed %}
        <div class="card bg-accent text-accent-content w-full">
          <div class="card-body">
            <h2 class="card-title">{{ entry.title }}</h2>
            <p>
              {{ entry.data.description }}
            </p>
            <div class="card-actions justify-end">
              <a href="{{ entry.url }}" class="btn">Read More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <h2>Subfolders</h2>
  <ul>
    {% for entry in nestedLeafPages %}
      <li>
        <a href="{{ entry.url }}">{{ entry.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <div class="flex w-full flex-col">
    <div class="divider divider-primary"></div>
  </div>

  {% if backlinks.length > 0 %}
    <h2>Linking here</h2>
    <ul>
      {% for link in backlinks %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}
